/* Center cards */
.card {
  margin-bottom: 20px;
  max-height: 300px;
  overflow: hidden;
}

.card-body .row {
  align-items: flex-start;
}

.card-body .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; /* Ensure text is left-aligned */

}

.timeline {
  list-style: none;
  padding: 0;
}

.timeline-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 10px;
  height: 10px;
  background: #007bff;
  border-radius: 50%;
}

.timeline-date {
  font-weight: bold;
  display: block;
}

@media (max-width: 767px) {
  .col-md-8 {
    order: 2;
  }
  .col-md-2 {
    order: 1;
    margin-bottom: 20px;
    display: none;
  }
}

/* Drawer styling */
.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;

  max-width: 500px; /* Increase the width of the drawer */

  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  z-index: 1050;
  overflow-y: auto; /* Make the drawer content scrollable */
}

.drawer.open {
  right: 0;
}

.drawer-content {
  padding: 20px;
}

@media (max-width: 767px) {
  .drawer {
    width: 100%;
    max-width: none;
  }
}

/* Floating button styling */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

